<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Configure a file appender. Allows logs to be written to a file -->
	
	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
			<param name="Threshold" value="info" />
		<param name="File" value="log.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="100KB" />
		<param name="MaxBackupIndex" value="0" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{dd-MM-yyyy HH:mm:ss} - %m%n" />
		</layout>
	</appender>

	<!-- Configure a console appender. Allows logs to be written to the console -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.err" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{dd-MM-yyyy HH:mm:ss} - %m%n" />
		</layout>
	</appender>

	<logger name="org.openmrs">
		<level value="WARN" />
	</logger>

		<!-- Root debugger -->
	<root>
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>


</log4j:configuration>
