/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
}

body {
	font-family: montserrat, arial, verdana;
}
/*form styles*/
#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
/* Radio Buttons */
#msform.radio {
	cursor: pointer;
  text-indent: 35px;
  overflow: visible;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}

#msform.radio:before {
  background: #3a57af;
  content:'';
  position: absolute;
  top:2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

#msform.radio:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 0.5em;
	height: 0.25em;
	background: transparent;
	top: 7.5px;
	left: 4.5px;
	border: 3px solid #ffffff;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

input[type=radio]:checked + label:after {
	opacity: 1;
}

#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}
#dit {
  max-width: 1000px;
}
#dit fieldset {
  width: 95%;
  display: block;
  padding: 5px 10px;
  margin: 5px 0;
  background-color: #E8FBF9;
  border: 1px solid #009384;
  border-radius: 10px;
  box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
}
#dit fieldset #block {
    display: block;
    margin: 2px 1px 5px 2px;
    position: relative;
}
#dit fieldset #block input {
  width: 200px;
  padding: 3px 5px;
  border: 1px solid #009384;
  border-radius: 4px;
  box-shadow: inset 0 3px 3px rgba(0,0,0,.15);
}
#dit fieldset #box input {
  width: 200px;
  height: 18px;
  border: 1px solid #009384;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
#dit fieldset label {
  display: inline-block;
  width: 200px;
  padding-right: 10px;
}
#dit fieldset legend {
  color: #009384;
  font-weight: bold;
  font-size: 18px;
  padding: 0 5px;
}
#dit h2 {
  padding-top: 5px;
  color: #009384;
}
#dit #button input {
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px 0;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color:  #009384;
  border: 1px solid #009384;
  border-radius: 7px;
  box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
}
#dit #button input:hover {
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px 0;
  font-size: 18px;
  font-weight: bold;
  color: #838383;
  background-color:  #009384;
  border: 1px solid #009384;
  border-radius: 7px;
  box-shadow: inset 0 4px 4px rgba(0,0,0,.1);
}
#block span {
  margin-left: 10px;
  color: red;
  font-weight: bold;
}
#dit fieldset span.appear {
    max-width: 350px;
    font-weight: normal;
    border: #00463f 1px solid;
    background: #BDF3EE;
    color: black;
    border-radius: 0 10px 10px 10px;
    box-shadow: 4px 4px 5px rgba(0,0,0,.15);
    display:none;
    padding: 10px 10px 10px 10px;
    z-index: 1000000;
}
#block label:hover ~ .appear {
    display: inline-block;
    top: 20px;
    left: 125px;
    position: absolute;
}
/*Status pages*/
.dialog {
    width: 450px;
    padding: 0 0 30px 0;
    text-align: left;
    background: white;
    margin: 0 auto;
    display: block;
    max-width: 100%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 2px 2px 15px #999999, -2px -2px 15px #999999;
    -webkit-box-shadow: 2px 2px 15px #999999, -2px -2px 15px #999999;
    -o-box-shadow: 2px 2px 15px #999999, -2px -2px 15px #999999;
    box-shadow: 2px 2px 15px #999999, -2px -2px 15px #999999;
}
.dialog .dialog-header {
    background: #00463f;
    color: white;
    padding: 0 20px;
    padding-top: 5px;
    border-bottom: black 1px solid;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.dialog .dialog-header h3 {
    display: inline-block;
    color: white;
    margin: 5px 0;
    vertical-align: middle;
}
.dialog .dialog-header .fa {
    font-size: 24px;
    vertical-align: middle;
}
.dialog .dialog-content {
    padding: 20px 30px 0 30px;
    color: #363463;
    font-size: 16px;
}
.dialog .dialog-content a {
    color: white !important;
}
.dialog .dialog-content .button.back {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    background-color: #88af28;
    border: #88af28 1px solid;
    padding: 8px 20px;
    display: inline-block;
    line-height: 1.2em;
    cursor: pointer;
    min-width: 0;
    max-width: 300px;
    text-decoration: none;
    margin-right: 10px;
}
.dialog .dialog-content .button.logs {
    margin-left: 30px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    background-color: #ff3d3d;
    border: #ff3d3d 1px solid;
    padding: 8px 20px;
    display: inline-block;
    line-height: 1.2em;
    cursor: pointer;
    min-width: 0;
    max-width: 300px;
    text-decoration: none;
}
.dialog .dialog-content .button.help {
    float: right;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    background-color: #5B57A6;
    border: #5B57A6 1px solid;
    padding: 8px 20px;
    display: inline-block;
    line-height: 1.2em;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
}
.dialog .button:hover {
  box-shadow: inset 0 4px 4px rgba(0,0,0,.1);
}
/*Help page*/
.help a {
	color: #007fff !important;
	text-decoration: none;
}
.help a:hover {
	text-decoration: underline !important;
}
.help { /*rename to id on help page*/ 
    max-width: 1000px;
    margin-left: 10px;
    margin-top: 20px;
}
.help ol {
    list-style-type: decimal;    
}
.help ul {
    list-style-type: circle;
    color: #363463;
}
.help section {
    background: #eeeeee;
    display: block;
    width: auto;
    -webkit-font-smoothing: subpixel-antialiased;
}
.help .code {
    font-family: monospace, serif;
    position: relative;
    margin: 35px 0 15px 0;
    padding: 0;
    background-color: #F9F9F9;
    border: 1px solid #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-left: 2px solid #007fff;
}
.help .code::after {
    content: "Commands";
    font-family: sans-serif;
    position: absolute;
    top: -22px;
    left: -2px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #ddd;
    color: #969696;
    background: #F9F9F9;
}
.help .code ul {
    background-color: #fff;
    list-style-type: none;
    font-family: monospace, serif;
}
.help .code .ulmys {
    margin-left: 70px;
}
.help .code .ulmys .norm:before {
    margin: 0 -3.5em;
}
.help .code .norm:before {
    position: absolute;
    content: '$';
    margin: 0 -2.4em;
}
.help .code .mysql:before {
    position: absolute;
    content: 'mysql>';
    margin: 0 -5em;
}
.help .code ul li {
    padding: 2px 10px;
    color: #BBB;
    line-height: 20px;
    border-bottom: 1px solid #F9F9F9;
}
.help .code ul li span {
    color: #363463;
}
.help .code ul li span.comm {
    color: #888;
}
.help ul, .help ol {
    margin-left: 40px;
}
.help h3 {
	color: #00463f;
	display: block;
	margin-top: 20px;
	margin-bottom: 3px;
}
.help .light {
	color: #009384;
}